<div class="mat-elevation-z8">
    <div class="mat-card">
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <span class="material-icons">
                    filter_list
                </span>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ID">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile><button mat-raised-button color="primary"><span class="material-icons">
                        add_circle
                    </span>Add Task</button></mat-grid-tile>
        </mat-grid-list>

    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
            <th class="w-70" mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th class="w-70" mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <th  mat-header-cell *matHeaderCellDef> Task </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="completed">
            <th class="w-70" mat-header-cell *matHeaderCellDef> Completed?</th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="completed selection">
                    <mat-chip *ngIf="element.completed === true" color="primary" selected>{{element.completed}}</mat-chip>
                    <mat-chip *ngIf="element.completed === false">{{element.completed}}</mat-chip>
                  </mat-chip-list>
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="settings">
            <th class="th-center" mat-header-cell *matHeaderCellDef> <span class="material-icons">
                    more_horiz
                </span></th>
            <td class="td-center" mat-cell *matCellDef="let element"> <span class="material-icons">
                    create
                </span> <span class="material-icons">
                    delete
                </span> <span class="material-icons">
                    more_horiz
                </span> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>